
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
  font-size: 100px;
  font-family: "Helvetica";
  color: lightyellow;
}

h1 {
	font-family: "Verdana";
	color: lightyellow;
}

p{
	font-family: "Courier New";
	color: lightyellow;
}

body {
	background-color: darkred;
}

.animated-text{
	font-family: "Helvetica";
	font-size: 100px;
	font-weight: 600;
	min-width: 280px;
}

.animated-text span {
	position: relative;
}

.animated-text span:before {
	content: "Why are you looking for a gun?";
	color: lightyellow;
	animation: words 20s infinite;
}

.animated-text span:after {
	content: "Why are you looking for a gun?";
	position: absolute;
	width:calc(100% + 8px);
	height: 100%;
	background-color: darkred;
	border-left: 2px solid lightyellow;
	right: -8px;
	animation: cursor .8s infinite, typing 1s steps(14) infinite;
}

@keyframes cursor {
	to{
		border-left: 2px solid darkred;
	}
}

@keyframes words {
	0%,,20%,40%,60%,80%,100%{
		content: "Why are you looking for a gun?";
	}
}
@keyframes typing {
	10%,15%,40%,60%,80%,90%,95%{
		width: 10px;
	}
	10%,15%,40%,60%,80%,90%,95%{
		width: calc(100% + 8px);
	}
}






